openapi: "3.0.2"
info:
  title: "MARLIN PROJECT API"
  version: "2.5"
servers:
- url: "http://marlin.pdev.vsk.ru/api"

paths:
  /ping:
    get:
      tags:
      - View
      summary: "Get Components and Software"
      operationId: GetComponentsAndSoftware
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/component'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Components and Software not found
                type: string
                example: Not found
  /service_kinds:
    get:
      tags:
      - ServiceKinds
      summary: "Get Service Kinds"
      operationId: GetServiceKinds
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/serviceKinds'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Service Kinds not found
                type: string
                example: Not found
  /accelerator_packs:
    get:
      tags:
      - AcceleratorPacks
      summary: "Get Accelerator Packs by Service Kind"
      operationId: GetAcceleratorPacksByServiceKind
      parameters:
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              service_kind:
                type: string
                enum:
                  - kafka
                  - mono
                  - front
                  - backend
                  - mock
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/acceleratorPacks'
                  meta:
                    $ref: '#/components/schemas/meta'
                      
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Accelerator Packs not found
                type: string
                example: Not found    
  /projects:
    get:
      tags:
      - Projects
      summary: "Get List Projects"
      operationId: GetListProjects
      parameters:
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              show:
                type: string
                default: all
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - projects.created_at
              - name
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/project'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found
    post:
      tags:
      - Projects
      summary: "Add a new project"
      operationId: AddProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    businessOwner: 
                      type: string
                      example: FisrtOwner
                    code:
                      type: string
                      example: test_app_1
                    description:
                      type: string
                    jiraCmdb:
                      type: string
                    kind:
                      type: string
                      example: "marlin"
                    name:
                      type: string
                      example: "Test App 1"
                relationships:
                  type: object
                  properties:
                    incomingSubscriptions:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                    integrations:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                    outgoingSubscriptions:    
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                    paasSubscriptions:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'    
                    services:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                type:
                  type: string
                  example: project
              
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/project'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found
  
  /projects/:
    get:
      tags:
      - Projects
      summary: "Get Project Details"
      operationId: GetProjectDetails
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            example: members,incoming_subscription.initiator.kind,outgoing_subscriptions.initiator.kind,incoming_subscriptions.receiver.kind,outgoing_subscriptions.receiver.kind,paas_subscriptions.platform_service,paas_subscriptions.service
      
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/project'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/members'
                      - $ref: '#/components/schemas/paasSubscriptions'
                      - $ref: '#/components/schemas/services'
                      - $ref: '#/components/schemas/platformServices'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found
    patch:
      tags:
      - Projects
      summary: "Edit project"
      operationId: EditProject
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    description:
                      type: string
                    jiraCmdb:
                      type: string
                    name:
                      type: string
                      example: "Test App 1"
                id:
                  type: string
                  format: uuid
                  description: project GUID 
                  example: d2c16267-ebe2-4976-b018-7deae8295741      
                type:
                  type: string
                  example: project
              
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/project'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found
    delete:
      tags:
      - Projects
      summary: "Delete project"
      operationId: DeleteProject
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      responses:
        "200":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/project'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found
  /projects/{project_id}/services: 
    get:
      tags:
      - Projects
      summary: "Get Services by project Id"
      operationId: GetSrvcByProjectId
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - name 
        - in: query
          name: include
          schema:
            type: string
            example: kind, accelerator_pack
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/services'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/acceleratorPacks'
                      - $ref: '#/components/schemas/serviceKinds'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Services not found
                type: string
                example: Not found   
    post:
      tags:
      - Projects
      summary: "Add a new service for project"
      operationId: AddNewServiceForProject
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    acceleratorPackId: 
                      type: string
                      example: e7b89d58-b604-43f0-9133-aebc54544a1f
                    code:
                      type: string
                      example: test_service
                    description:
                      type: string
                    kind_id:
                      type: string
                      example: 24b633b3-1745-4670-bd54-4e3c3aaafd35
                    name:
                      type: string
                      example: "Test service"
                    release_date:
                      type: string
                      pattern: yyyy-MM-dd'T'HH:mm:ss.SSSZ
                      example: 2022-04-06T09:31:07.551Z
                type:
                  type: string
                  default: services
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/services'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Service not created
                type: string
                example: Not found 
  /projects/{project_id}/integrations: 
    get:
      tags:
      - Projects
      summary: "Get Integrations by project Id"
      operationId: GetIntegarionsByProjectId
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            example: processing_errors,environment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/integrations'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/environments'
                      - $ref: '#/components/schemas/processingErrors'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Integrations not found
                type: string
                example: Not found
  /projects/{project_id}/active_deployments:
    get:
      tags:
      - Projects
      summary:  "Get Active Deployments by project Id"
      operationId: GetActiveDeploymentsByProjectId
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              q:
                type: string
              enviroment_id:
                type: string
                format: uuid
        - in: query
          name: include
          schema:
            type: string
            example: environment,template.addresses,service
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/deployments'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/services'
                      - $ref: '#/components/schemas/environments'
                      - $ref: '#/components/schemas/templates'
                      - $ref: '#/components/schemas/templateAddresses'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
    
  /projects/{project_id}/members:
    get:
      tags:
      - Members
      summary: "Get Members"
      operationId: GetMembers
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - full_name
        - in: query
          name: include
          schema:
            type: string
            example: user, integrations
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
        
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/members'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/users'
                      - $ref: '#/components/schemas/integrations'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Members not found
                type: string
                example: Not found   
                
    post:
      tags:
      - Members
      summary: "Add Members"
      operationId: AddMembers
      parameters:
        - in: path 
          name: project_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    userId:
                      type: string
                      example: 22
                relationships:
                  type: object
                  properties:
                    integrations:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                type:
                  type: string
                  default: members
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/members'
                  
  /members/{member_id}:                
    delete:
      tags:
      - Members
      summary: "Delete Members"
      operationId: DeleteMembers
      parameters:
        - in: path 
          name: member_id
          required: true
          schema:
            type: string
            format: uuid
            example: 022f2245-f2f5-4563-b8a5-5bb08a40fe85
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/members'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Members not found
                type: string
                example: Not found       
                
  /platform_services:
    get:
      tags:
      - PlatformServices
      summary: "Get List Platform Services"
      operationId: GetListPlatformServices
      parameters:
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              system_component_id:
                type: string
                format: uuid
                example: 0511c005-da23-4314-b643-f93a0d9c3efe
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - platform_services.created_at
              - name
        - in: query
          name: include
          schema:
            type: string
            default: system_component
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                title: data
                type: object
                properties:
                  data:
                    type: array
                    items:
                        $ref: '#/components/schemas/platformServices'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/systemComponents'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platform Services not found
                type: string
                example: Not found       
        
    post:
      tags:
      - PlatformServices
      summary: "Add Platform Service"
      operationId: AddPlatformService
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    code:
                      type: string
                      example: minio
                    description:
                      type: string
                    name:
                      type: string
                      example: MinIO
                    runtime:
                      type: boolean
                    system_component_exemplar_ids:
                      type: array
                      items:
                          type: string
                          example: 992ef17f-5bfe-445e-94d5-b8b4edc3f4ef
                    sysytem_component_id:
                      type: string
                      example: 992ef17f-5bfe-445e-94d5-b8b4edc3f4ef
                type:
                  type: string
                  default: platformServices     
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/platformServices'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platforn Service not 
                type: string
                example: Not found
  /platform_services/{platform_service_id}:
    get:
      tags:
      - PlatformServices
      summary: "Get Platform Service Details"
      operationId: GetPlarformServiceDetails
      parameters:
        - in: path 
          name: platform_service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            default: system_component,system_component_exemplars.environment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                title: data
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/platformServices'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/systemComponents'
                        - $ref: '#/components/schemas/systemComponentsExemplars'
                        - $ref: '#/components/schemas/environments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platform Services not found
                type: string
                example: Not found 
    patch:
      tags:
      - PlatformServices
      summary: "Edit Platform Service"
      operationId: EditPlatformService
      parameters:
        - in: path 
          name: platform_service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    description:
                      type: string
                    name:
                      type: string
                      example: "Test App 1"
                    system_component_exemplar_ids:
                      type: array
                      items:
                          type: string
                          example: 992ef17f-5bfe-445e-94d5-b8b4edc3f4ef
                id:
                  type: string
                  format: uuid
                  description: project GUID 
                  example: d2c16267-ebe2-4976-b018-7deae8295741      
                type:
                  type: string
                  example: platfromServices
              
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/platformServices'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platform Service not found
                type: string
                example: Not found
    delete:
      tags:
      - PlatformServices
      summary: "Delete Platform Service"
      operationId: DeletePlatformService
      parameters:
        - in: path 
          name: platform_service_id
          required: true
          schema:
            type: string
            format: uuid
            example: 022f2245-f2f5-4563-b8a5-5bb08a40fe85
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/platformServices'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Members not found
                type: string
                example: Not found   
  /platform_services/{platform_service_id}/paas_subsciptions:
    get:  
      tags:
      - PlatformServices
      summary: "Get Platform Services Paas Subsciptions"
      operationId: GetPlatformSrvsPaasSubsciptions"
      parameters:
        - in: path 
          name: platform_service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              q:
                type: string
                format: uuid
                example: TestPaaS
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - projects
              - services
              - created_at
        - in: query
          name: include
          schema:
            type: string
            default: deployments.accounts,deployments.environment,service.project
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                title: data
                type: object
                properties:
                  data:
                    type: array
                    items:
                        $ref: '#/components/schemas/paasSubscriptions'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/services'
                        - $ref: '#/components/schemas/project'
                        - $ref: '#/components/schemas/platformServiceDeployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platform Service not found
                type: string
                example: Not found
                
  /platform_services/{platform_service_id}/integrations:
    get:  
      tags:
      - PlatformServices
      summary: "Get Platform Services Integrations"
      operationId: GetPlatformSrvsIntegrations"
      parameters:
        - in: path 
          name: platform_service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            default: processing_errors,environment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                title: data
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/integrations'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/processingErrors'
                        - $ref: '#/components/schemas/environments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Platform Service not found
                type: string
                example: Not found
  /services:
    get:
      tags:
      - Services
      summary: "Get List Services"
      operationId: GetListServices
      parameters:
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              show:
                type: string
                default: all
              kind_id:
                type: string
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - service_name,project
              - service.created_at
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
            
      
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/services'
                  included:
                    type: array
                    items:
                      oneOf:
                      - $ref: '#/components/schemas/project'
                      - $ref: '#/components/schemas/serviceKinds'
                      - $ref: '#/components/schemas/acceleratorPacks'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Services not found
                type: string
                example: Not found

  /services/{service_id}:
    get:
      tags:
      - Services
      summary: "Get Service Details"
      operationId: GetServiceDetails
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            enum:
              - project,incoming_subscriptions.initiator
              - kind.pipeline_validations
              - accelerator_pack
              - processing_errors
              - mocked_service
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/services'
                  included:
                    anyOf:
                    -  $ref: '#/components/schemas/project'
                    -  $ref: '#/components/schemas/serviceKinds'
                    -  $ref: '#/components/schemas/acceleratorPacks'
                    -  $ref: '#/components/schemas/pipelineValidations'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Services not found
                type: string
                example: Not found

    patch:
      tags:
      - Services
      summary: "Edit service"
      operationId: EditService
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        description:
                          type: string
                        jiraCmdb:
                          type: string
                        name:
                          type: string
                        release_date:
                          type: string
                          pattern: yyyy-MM-dd'T'HH:mm:ss.SSSZ
                          example: 2022-04-06T09:31:07.551Z
                    id:
                      type: string
                    type:
                      type: string
                      default: services
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/services'

    delete:
      tags:
      - Services
      summary: "Delete service"
      operationId: DeleteService
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: 150b32dd-17b0-41b0-a025-37a947301bfc
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/services'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Services not found
                type: string
                example: Not found

  /services/{service_id}/subscriptions:
    get:
      tags:
      - Subscriptions
      summary: "Get List Api"
      operationId: GetListApi
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: a84c333b-b1ff-46d7-aa5e-640f241b0913
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - service_subscriptions.created_at
        - in: query
          name: include
          schema:
            type: string
            enum:
              - receiver.kind
              - receiver.mock_services
              - receiver.mock_services.project
              - receiver.project
              - accesses.environment
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/subscriptions'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/services'
                        - $ref: '#/components/schemas/project'
                        - $ref: '#/components/schemas/serviceKinds'
                  meta:
                    $ref: '#/components/schemas/meta'

        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Api not found
                type: string
                example: Not found
    post:
      tags:
      - Subscriptions
      summary: "Add Api"
      operationId: AddApi
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: 6477643e-b054-42c7-8071-b0a4c1753fb1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    receiver_id:
                      type: string
                      format: uuid
                      example: d6c683c8-84a8-48bd-b30a-8183000543cc
                relationships:
                  type: object
                  properties:
                    accesses:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/relationship'
                type:
                  type: string
                  default: subscriptions
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/subscriptions'
  /subscriptions/{api_id}:
    delete:
      tags:
      - Subscriptions
      summary: "Delete Api"
      operationId: Delete Api
      parameters:
        - in: path 
          name: api_id
          required: true
          schema:
            type: string
            format: uuid
            example: a84c333b-b1ff-46d7-aa5e-640f241b0913
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/subscriptions'

  /services/{service_id}/paas_subscriptions:
    get:
      tags:
      - Subscriptions
      summary: "Get List PaaS"
      operationId: GetListPaaS
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: a84c333b-b1ff-46d7-aa5e-640f241b0913
        - in: query
          name: sort
          schema:
            type: string
            enum:
              - created_at
        - in: query
          name: include
          schema:
            type: string
            enum:
              - deployments.environment
              - platform_service.system_component
              - platform_service.integrations
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/paasSubscriptions'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/platformServices'
                        - $ref: '#/components/schemas/systemComponents'
                        - $ref: '#/components/schemas/integrations'
                        - $ref: '#/components/schemas/platformServiceDeployments'
                        - $ref: '#/components/schemas/environments'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: PaaS not found
                type: string
                example: Not found
    post:
      tags:
      - Subscriptions
      summary: "Add PaaS"
      operationId: AddPaaS
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: 6477643e-b054-42c7-8071-b0a4c1753fb1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    platform_service_id:
                      type: string
                      format: uuid
                      example: 1ffca188-14ea-4c08-a6a9-5af0d6008abf
                relationships:
                  type: object
                  properties:
                    deployments:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            $ref: '#/components/schemas/relationship'
                type:
                  type: string
                  default: paasSubscriptions
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/paasSubscriptions' 
  /services/{service_id}/mock_subscriptions:
    get:
      tags:
      - Subscriptions
      summary: "Get Mock Subscription  "
      operationId: GetMockSubscription
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: a84c333b-b1ff-46d7-aa5e-640f241b0913
        - in: query
          name: sort
          schema:
            type: string
            enum: 
              - service_subscriptions.created_at
        - in: query
          name: include
          schema:
            type: string
            default: receiver.kind,receiver.project
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/subscriptions'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/services'
                        - $ref: '#/components/schemas/project'
                        - $ref: '#/components/schemas/serviceKinds'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Mock not found
                type: string
                example: Not found
                     
  /platform_services/paas_deployments:
    post:
      tags:
      - Subscriptions
      summary: "Add Paas Deployment"
      operationId: AddPaasDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    environmentId:
                      type: string
                      format: uuid
                      example: 744ef863-5b1e-4d9d-829a-085d7ad17a8a
                    servicePaasSubscriptionId:
                      type: string
                      format: uuid
                      example: e3cabfbe-ec1f-4e0b-9dbb-d7f84d1ef4ed
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/platformServiceDeployments'

  /platform_services/paas_deployments/{paas_deployment_id}/undeploy:
    patch:
      tags:
      - Subscriptions
      summary: "Delete Paas Deployment"
      operationId: DeletePaasDeployment
      parameters:
        - in: path 
          name: paas_deployment_id
          required: true
          schema:
            type: string
            format: uuid
            example: fc1126e8-f002-4ca3-94b0-df7ec51f2563
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
               $ref: '#/components/schemas/platformServiceDeployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found

  /paas_subscriptions/{paas_id}:
    delete:
      tags:
      - Subscriptions
      summary: "Delete Paas"
      operationId: DeletePaas
      parameters:
        - in: path 
          name: paas_id
          required: true
          schema:
            type: string
            format: uuid
            example: d4e0d973-e11c-4e0f-8fff-05dd09c51e94
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/paasSubscriptions' 
  
  /services/{service_id}/deployments:
    get:
      tags:
      - Deployments
      summary: "Get Service Deployments"
      operationId: GetServiceDeployments
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              q:
                type: string
              enviroment_id:
                type: string
                format: uuid
        - in: query
          name: include
          schema:
            type: string
            example: enviroments,build.release, tempalte.adress, checks
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/deployments'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/builds'
                      - $ref: '#/components/schemas/releases'
                      - $ref: '#/components/schemas/environments'
                      - $ref: '#/components/schemas/templates'
                      - $ref: '#/components/schemas/templateAddresses'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
  /deployments/{deployment_id}:
    get:
      tags:
      - Deployments
      summary: "Get Deployment Details"
      operationId: GetDeploymentDetails
      parameters:
        - in: path 
          name: deployment_id
          required: true
          schema:
            type: string
            format: uuid
            example: a84c333b-b1ff-46d7-aa5e-640f241b0913
        - in: query
          name: include
          schema:
            type: string
            default: environment,build.release.step,template.addresses,processing_errors
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/deployments'
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: '#/components/schemas/builds'
                        - $ref: '#/components/schemas/releases'
                        - $ref: '#/components/schemas/releaseStep'
                        - $ref: '#/components/schemas/environments'
                        - $ref: '#/components/schemas/templates'
                        - $ref: '#/components/schemas/templateAddresses'
                        - $ref: '#/components/schemas/processingErrors'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
    patch:
      tags:
      - Deployments
      summary: "Rerun Deployment"
      operationId: RerunDeployment
      parameters:
        - in: path 
          name: deployment_id
          required: true
          schema:
            type: string
            format: uuid
            example: ebf0fad5-ab7c-4eee-9b6e-3937e1585952
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/deployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
    delete:
      tags:
      - Deployments
      summary: "Delete Deployment"
      operationId: DeleteDeployment
      parameters:
        - in: path 
          name: deployment_id
          required: true
          schema:
            type: string
            format: uuid
            example: ebf0fad5-ab7c-4eee-9b6e-3937e1585952
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/deployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
  /builds/{build_id}/deployments:
    post:
      tags:
      - Deployments
      summary: "Add Deployment"
      operationId: AddDeployment
      parameters:
        - in: path 
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
            example: ebf0fad5-ab7c-4eee-9b6e-3937e1585952
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    checks_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          label:
                            type: string
                            example: Авторизация
                          mandatory:
                            type: boolean
                          value:
                            type: string
                            example: authorization
                    templateId:
                      type: string
                      format: uuid
                      example: ea42cd10-4c3c-4ca5-b378-6b9d12baa1df
                type:
                  type: string
                  default: deployments
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/deployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
  /releases/{release_id}/update_service:
    post:
      tags:
      - Deployments
      summary: "Add Deployment"
      operationId: AddDeployment
      parameters:
        - in: path 
          name: release_id
          required: true
          schema:
            type: string
            format: uuid
            example: d9923aa6-3044-47b9-9ecb-7f7f04a5c581
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    checks_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          label:
                            type: string
                            example: Авторизация
                          mandatory:
                            type: boolean
                          value:
                            type: string
                            example: authorization
                    templateId:
                      type: string
                      format: uuid
                      example: ea42cd10-4c3c-4ca5-b378-6b9d12baa1df
                type:
                  type: string
                  default: deployments
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/deployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found
  /services/{service_id}/templates:
    get:
      tags:
      - Templates
      summary: "Get Templates"
      operationId: GetTemplates
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: filter0
          style: deepObject
          schema:
            type: object
            properties:
              q:
                type: string
              active:
                type: boolean
                default: true
        - in: query
          name: sort
          schema:
            type: string
            enum: 
              - created_at
              - name
        - in: query
          name: include
          schema:
            type: string
            example: addresses,deployment,environment,dynamic_parameters,environment_variables
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/templates'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/environments'
                      - $ref: '#/components/schemas/deployments'
                      - $ref: '#/components/schemas/templateAddresses'
                  meta:
                    $ref: '#/components/schemas/meta'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Templates not found
                type: string
                example: Not found
  /templates/{template_id}:
    get:
      tags:
      - Templates
      summary: "Get Template Details"
      operationId: GetTemplateDetails
      parameters:
        - in: path 
          name: template_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            example: addresses,environment,dynamic_parameters,environment_variables,deployment,platform_service_deployments,template_platform_service_deployments,processing_errors,environment_variable_mappings,file_mappings
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/templates'
                  included:
                    type: array
                    items:
                      anyOf:
                      - $ref: '#/components/schemas/environments'
                      - $ref: '#/components/schemas/platformServiceDeployments'
                      - $ref: '#/components/schemas/templateAddresses'
                      - $ref: '#/components/schemas/templatePlatformServiceDeployments'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Template not found
                type: string
                example: Not found
    patch:
      tags:
      - Templates
      summary: "Edit Template"
      operationId: EditTemplate
      parameters:
        - in: path 
          name: template_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    addressesAttributes:
                      type: array
                      items:
                        type: object
                        properties:
                          code:
                            type: string
                            example: grpc
                          fullUrl:
                            type: string
                            example: https://dev.dshtest37.apps.okd-lan.pdev.vsk.ru
                          id:
                            type: string
                            format: uuid
                            example: aec9504c-edcc-449a-9c5b-35272bfa3202
                          name:
                            type: string
                            example: gRPC
                          port:
                            type: integer
                            example: 5555
                          urlPart:
                            type: string
                            example: dshtest37
                    description:
                      type: string
                    dynamicParametersAttributes:
                      type: array
                      items:
                        type: object
                        properties:
                          fieldId:
                            type: string
                            format: uuid
                            example: 46841e4d-70b0-4ecc-a9d9-5da6b831bfe7
                          fieldType:
                            type: string
                            example: Service::EnvironmentVariable
                          id:
                            type: string
                            format: uuid
                            example: 7a3db42a-e26d-4ec0-8d0f-3de473abf4ea
                          value:
                            type: string
                    environmentId:
                      type: string
                      format: uuid
                      example: 744ef863-5b1e-4d9d-829a-085d7ad17a8a
                    livenessProbes:
                      type: string
                    name:
                      type: string
                    readinessProbes:
                      type: string
                    replicas:
                      type: integer
                    template_platform_service_deployments_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id: 
                            type: string
                            format: uuid
                            example: 5876f3e0-97f9-4edf-a6c4-d5eff4451dbe
                          options:
                            type: object
                            properties:
                              additionalParams:
                                type: string
                                example: -f db-folder
                              passwordParamName:
                                type: string
                                example: jdbc.password
                              urlParamName:
                                type: string
                                example: jdbc.url
                              userParamName:
                                type: string
                                example: jdbc.user
                          platform_service_deployment_id:
                            type: string
                            format: uuid
                            example: 6124c9e2-378f-4da1-8094-24a5cae45474
                    useMapping:
                      type: boolean
                id:
                  type: string
                  format: uuid
                  example: ffb092a1-7a2a-4c70-8f92-45d2b06d0f4d
                type:
                  type: string
                  default: templates
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/templates'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Templates not found
                type: string
                example: Not found  
    delete:
      tags:
      - Templates
      summary: "Delete Template"
      operationId: DeleteTemplate
      parameters:
        - in: path 
          name: template_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/templates'
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Templates not found
                type: string
                example: Not found 
  /templates/check_validity:
    get:
      tags:
      - Templates
      summary: "Get Validity"
      operationId: GetValidity
      
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/check_validity'
                   
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbiddenf
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Projects not found
                type: string
                example: Not found                
  /deployments:
    get:
      tags:
      - View
      summary: "Get Deployments"
      operationId: GetDeployments
      parameters:
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              q:
                type: string
              environment_ids:
                type: string
                format: uuid
              status:
                type: string
                example: pending,running,success,stopping,failed_to_stop,stopped
        - in: query
          name: sort
          schema:
            type: string
            enum:
             - created_at
             - environments
             - runtime_environments
             - status
             - ervice_templates
             - services
             - projects
        - in: query
          name: include
          schema:
            type: string
            example: environment,template.addresses,service.project
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        data:
                          type: array
                          items:
                            type: object
                            properties:
                              attributes:
                                type: object
                                properties:
                                  availableStates:
                                    type: array
                                    items:
                                      type: string
                                      enum:
                                        - failed
                                        - success
                                        - stopped
                                        - deleted
                                  createdAt:
                                    type: string
                                    pattern: yyyy-MM-dd'T'HH:mm:ss.SSSZ
                                    example: 2022-03-29T08:20:23.781Z
                                  environmentCode:
                                    type: string
                                    enum:
                                     - dev
                                     - test
                                     - stage
                                     - prod
                                  hasJenkinsLog:
                                    type: boolean
                                  number:
                                    type: integer
                                  runtimeEnvironment:
                                    type: string
                                    example: OpenShift
                                  status:
                                    type: string
                                    example: success
                                  validity:
                                    type: boolean
                              id:
                                type: string
                                format: uuid
                                example: fcc2d9ab-bd83-4d9c-bcc5-466c4b383842
                              relationships:
                                type: object
                                properties:
                                  environment:
                                    type: object
                                    properties:
                                      data:
                                        $ref: '#/components/schemas/relationship'
                                  service:
                                    type: object
                                    properties:
                                      data:
                                        $ref: '#/components/schemas/relationship'
                                  template:
                                    type: object
                                    properties:
                                      data:
                                        $ref: '#/components/schemas/relationship'
                              type:
                                type: string
                                default: deployments
                  included:
                    type: array
                    items:
                      type: object
                      properties:
                        schema:
                          anyOf:
                          - $ref: '#/components/schemas/services'
                          - $ref: '#/components/schemas/project'
                          - $ref: '#/components/schemas/environments'
                          - $ref: '#/components/schemas/templates'
                          - $ref: '#/components/schemas/templateAddresses'
                  meta:
                    $ref: '#/components/schemas/meta' 
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Deployments not found
                type: string
                example: Not found         
  /services/{service_id}/builds:
    get:
      tags:
      - Builds
      summary: "Get Builds"
      operationId: GetBuilds
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2
        - in: query
          name: include
          schema:
            type: string
            example: deployments, checks
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per'
            
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/builds'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/checks'
                  meta:
                    $ref: '#/components/schemas/meta'
                   
        '401':
          description: Unauthorized
          content:
            application/json::
              schema:
                title: Unauthorized
                type: string
                example: Unauthorized
          
        '403':
          description: Forbidden
          content:
            application/json::
              schema:
                title: Forbidden
                type: string
                example: Forbidden
        "404":
          description: Not found response
          content:
            application/json::
              schema:
                title: Builds not found
                type: string
                example: Not found
                
    post:
      tags:
      - Builds
      summary: "Add Builds"
      operationId: AddBuilds
      parameters:
        - in: path 
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: 6477643e-b054-42c7-8071-b0a4c1753fb1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    checks_attributes:
                      type: array
                      items:
                        type: object
                        properties:
                          active:
                            type: boolean
                          code:
                            type: string
                            example: quality, units, build
                          mandatory:
                            type: boolean
                          name:
                            type: string
                            example: SonarQube, Unit-тесты, Build
                    commit:
                      type: string
                    description:
                      type: string
                    title:
                      type: string
                      example: sborka1
                type:
                  type: string
                  default: builds
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/builds'

  /builds/{build_id}:
    patch:
      tags:
      - Builds
      summary: "Edit Build"
      operationId: EditBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
            example: acb1d28e-af7f-47a9-9a6b-43f8e5ca8b4d
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: data
              type: object
              properties:
                attributes:
                  type: object
                  properties:
                    checks_attributes:
                      type: object
                      properties:
                        active:
                          type: boolean
                        code:
                          type: string
                          example: build
                        id:
                          type: string
                          format: uuid
                          example: 288c9f43-9cb4-473c-ba48-05419c19af47
                        mandatory:
                          type: boolean
                        name:
                          type: string
                          example: Build
                    description:
                      type: string
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/builds'
    delete:
      tags:
      - Builds
      summary: "Delete Build"
      operationId: DeleteBuild
      parameters:
        - in: path
          name: build_id
          required: true
          schema:
            type: string
            format: uuid
            example: acb1d28e-af7f-47a9-9a6b-43f8e5ca8b4d
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/builds'

  /services/{service_id}/releases:
    get:
      tags:
      - Releases
      summary: "Get Releases"
      operationId: GetReleases
      parameters:
        - in: path
          name: service_id
          required: true
          schema:
            type: string
            format: uuid
            example: eff26064-4117-4d84-bbba-3b3c89fd2bb2        
        - in: query
          name: filter
          style: deepObject
          schema:
            type: object
            properties:
              show:
[...]
